<div id="filter-container">
	<!-- FILTER STATE -->
	<div class="filter-state">
		<!--  FILTER BOX -->
		<div class="filter-box col-sm-9">
			<!-- SEARCH ICON -->
			<span class="searchIcon glyphicon glyphicon-search icon-flipped"></span>
			<!-- CURRENT FILTERS -->
			<div  id="tag-container">
				<!-- <div class="tag-box" data-key="locations" data-name="Southern California">Southern California<span class="tag-remove glyphicon glyphicon-remove"></span></div> -->
			</div>
			<!-- CURRENT FILTERS -->
			<!-- KEYWORD BOX -->
			<div class="keyword-box" style="display: none;">
				<input type="text" name="keyword" data-category="keyword" class="input keyword-input tag-input" placeholder="Enter a keyword">
				<div class="fontello-cancel-circle close"></div>
			</div>
			<!-- KEYWORD BOX -->
		</div>
		<!--  FILTER BOX -->
		<!--  SAVEBOX -->
		<div class="saveBox col-sm-3">
			<div class="btn-group">
				<button type="button" class="save btn btn-default dropdown-toggle" data-toggle="dropdown">Save</button>
				<ul class="dropdown-menu" role="menu" style="left: -240px;">
					<li class="dropdown-header">Filter Name</li>
					<li class="dropdown">
						<input type="text" placeholder="Cheap Car Washes @ LA" class="form-control" autocomplete="off" name="filter_title" />
					</li>
					<li>
						<button type="button" class="btn btn-default save-current-filters">Save Filter</button>
					</li>
				</ul>
			</div>
		</div>
		<!--  SAVEBOX -->
	</div>
	<div class="filter-menus">
		<ul class="filter-dimensions">
			<!-- DIMENSION -->
			<li class="dimension dropdown tag-dropdown hover" data-menu="location">
				<!-- DIMENSION LABEL -->
				<a href="#" class="dimension-label" data-toggle="dropdown"> Locations <b class="caret"></b></a>
				<!-- DROPDOWN MENU -->
				<ul data-menu="location" class="dropdown-menu">
					<li>
						<input type="text" name="location" data-category="location" class="tag-input form-control" autocomplete="off" placeholder="Enter A Location" />
					</li>
					<li class="dropdown-header">Top locations</li>
					<% @location_tags.each do |lt| %>
						<li>
							<a href="#" data-name="<%= lt.name %>" data-category="<%= lt.category %>" class="tag-item">
								<div class="top-category">
									<span class="name"><%= lt.display_name %></span>
									<span class="count">(<%= lt.count %>)</span>
								</div>
							</a>
						</li>					
					<% end %>
				</ul>
			</li>

			<li class="dimension dropdown tag-dropdown hover" data-menu="price">
				<a href="#" class="dimension-label" data-toggle="dropdown"> Price <b class="caret"></b></a>
				<!-- DROPDOWN MENU -->
				<ul data-menu="price" class="dropdown-menu">
					<li><a href="#" data-name="$" data-category="price" class="tag-item">$</a></li>
					<li><a href="#" data-name="$$" data-category="price" class="tag-item">$$</a></li>
					<li><a href="#" data-name="$$$" data-category="price" class="tag-item">$$$</a></li>
					<li><a href="#" data-name="$$$$" data-category="price" class="tag-item">$$$$</a></li>
				</ul>
			</li>
			<li class="dimension dropdown tag-dropdown hover" data-menu="belt">
				<a href="#" class="dimension-label" data-toggle="dropdown"> Rank <b class="caret"></b></a>
				<!-- DROPDOWN MENU -->
				<ul data-menu="price" class="dropdown-menu">
					<li><a href="#" data-name="black" data-category="belt" class="tag-item">Black</a></li>
					<li><a href="#" data-name="red" data-category="belt" class="tag-item">Red</a></li>
					<li><a href="#" data-name="blue" data-category="belt" class="tag-item">Blue</a></li>
					<li><a href="#" data-name="green" data-category="belt" class="tag-item">Green</a></li>				
					<li><a href="#" data-name="white" data-category="belt" class="tag-item">White</a></li>
				</ul>
			</li>
			<li class="dimension dropdown tag-dropdown hover" data-menu="keyword">
				<a href="#" class="dimension-label" data-toggle="dropdown"> Keywords <b class="caret"></b></a>
				<!-- DROPDOWN MENU -->
				<ul data-menu="keywords" class="dropdown-menu">
					<li> 
						<input type="text" name="keyword" data-category="keyword" class="keyword-input tag-input form-control" autocomplete="off" placeholder="Enter Keywords" />
					</li>
					<li class="dropdown-header">Top Keywords</li>
					<% @keyword_tags.each do |kt| %>
						<li>
							<a href="#" data-name="<%= kt.name %>" data-category="<%= kt.category %>" class="tag-item">
								<div class="top-category">
									<span class="name"><%= kt.display_name %></span>
									<span class="count">(<%= kt.count %>)</span>
								</div>
							</a>
						</li>
					<% end %>
				</ul>
			</li>
			<li class="dropdown my-filters hover" date-menu="filters">
				<a href="#" class="dimension-label" data-toggle="dropdown">My Filters <b class="caret"></b></a>
				<!-- DROPDOWN MENU -->
			<%= render 'services/filter/my_filter_list' %>
			</li>
		</ul>
	</div>
</div>