<li class="serviceListItem col-sm-4"> 
	<%= link_to service, target: "_blank" do %>
		<div class="imageContainer">
			<%= image_tag service.main_img.url, class: "serviceImage" %>
			<div class="shadow">
				<div style="position: absolute; bottom: 10px; left: 10px;">
					<div class="serviceTitle"><%= service.title %></div>
					<div class="headline"><%= service.headline %></div>
				</div>
				
			</div>
			
		</div>
		<div class="desc">
			<div class="lender">
				<span class="belt-<%= service.lender.belt %> xsmall glyphicon glyphicon-user"></span>
				<span class="service"><%= service.lender.name %></span>
			</div>
			<div class="price"><%= Service.price_to_symbol(service.price) %></div>
			<div class="location">
				<span class="glyphicon glyphicon-map-marker"></span>
				<span><%= service.location %></span>
			</div>
		</div>
	<% end %>
</li>
