<div id="serviceShowBox" class="box col-sm-10 col-sm-offset-1">
	<!-- OVERVIEW -->
	<div class="row">
		<!-- SNAPSHOT -->
		<div id="snapshot" class="col-sm-5">
			<div class="imageContainer">
				<%= image_tag @service.main_img.url %>
				<!-- OPTIONS -->
				<%= render 'shared/options/options', 
							object: @service, 
							edit_object_path: edit_service_path(@service), 
							report_object_path: report_service_path(@service) %>
			</div>
			<!-- BELT -->
			<%= render 'shared/belt', user: @service.lender %>
		</div>
		
		<!-- AT A GLANCE -->
		<div id="detail" class="col-sm-7">
			<div class="boxTitle"><%= @service.title %></div>
			<div id="headline"><%= @service.headline %></div>
			<div id="glance" class="col-xs-11">
				<div class="detailTitle row"><span class="glyphicon glyphicon-search"></span> At A Glance</div>
				<div class="row group">
					<div class="col-sm-3"><span class="belt-<%= @service.lender.belt %> xsmall glyphicon glyphicon-user"></span> Lender</div>
					<div class="col-sm-9"><%= link_to @service.lender.name, @service.lender %></div>
				</div>
				<div class="row group">
					<div class="col-sm-3"><span class="glyphicon glyphicon-map-marker"></span> Location</div>
					<!-- GEOCODER GEM -->
					<div class="col-sm-9">
						<%= @service.full_address %> 
						<% distance =  @service.distance_from(current_user) %>
						<% unless distance.nil? %>
							<small> (<%= distance.round(2) %> miles) </small>
						<% end %>
					</div>
				</div>
				<div class="row group">
					<div class="col-sm-3"><span class="glyphicon glyphicon glyphicon-usd"></span> Price</div>
					<div class="col-sm-9"><%= @service.price %></div>
				</div>
			</div>
		</div>
	</div>
	<!-- SUMMARY -->
	<div class="row">
		<div class="col-xs-12">
			<div class="sectionTitle">Summary</div>
			<p><%= @service.summary %></p>
		</div>
	</div>
	<!-- REVIEW -->
	<div id="reviewListTitle" class="sectionTitle">Reviews</div>
	<%= render 'reviews/review_list', reviews: @reviews %>
</div>