<div class="imageContainer">
	<%= image_tag object.main_img.url %>
	<div class="options">
		
		<!-- SERVICE ONLY -->
		<% if object.class.name == 'Service' %>
			<% service = object %>
			
			<!-- CHECK -->
			<% user_service = current_user.check?(service) %>
			<% template 	= user_service.nil? ? 'check' : 'uncheck' %>
			<%= render "shared/options/#{template}", service: @service%>

			<!-- PIN -->
			<% user_service = current_user.pin?(service) %>
			<% template 	= user_service.nil? ? 'pin' : 'unpin' %>
			<%= render "shared/options/#{template}", service: @service %>

		<% end %>
		<!-- SERVICE ONLY -->

		<!-- OTHER OPTIONS -->
		<%= link_to('', edit_path, class: "edit tooltip_target glyphicon glyphicon-pencil", data: {toggle: 'tooltip'}, title: 'Edit')  %>
		<%= link_to('', report_path, class: "flag tooltip_target glyphicon glyphicon-flag", data: {toggle: 'tooltip'}, title: 'Report') %>
	</div>
</div>

