<div class="imageContainer">
	<%= image_tag object.main_img.url %>
	<div class="options">
		
		<!-- SERVICE ONLY -->
		<% if object.class.name == 'Service' %>
			<% service = object %>
			<!-- CHECK -->
			<% user_service = current_user.check?(service) %>
			<% if user_service.nil? %>
				<%= render 'shared/options/check', service_id: service.id %>
			<% else %>
				<%= render 'shared/options/uncheck', user_service_id: user_service.id, class_name: "glyphicon glyphicon-minus uncheck" %>
			<% end %>

			<!-- PIN -->
			<% user_service = current_user.pin?(service) %>
			<% if user_service.nil? %>
				<%= render 'shared/options/pin', service_id: service.id %>
			<% else %>
				<%= render 'shared/options/unpin', user_service_id: user_service.id %>
			<% end %>

		<% end %>
		<!-- SERVICE ONLY -->

		<!-- OTHER OPTIONS -->
		<%= link_to('', edit_path, class: "glyphicon glyphicon-pencil edit")  %>
		<%= link_to('', report_path, class: "glyphicon glyphicon-flag flag") %>
	</div>
</div>

