<div class="indexList row">
	<%= link_to user do %>
		<div class="col-xs-1 cell">
			<div class="text"><%= user.id %></div>
		</div>
		<div class="col-xs-2 cell"><%= image_tag user.main_img(:thumb), class: 'thumbImage' %></div>
		<div class="col-xs-3 cell">
			<div class="text"><%= user.name %></div>
		</div>
		<div class="col-xs-3 cell">
			<div class="text"><%= user.location %></div>
		</div>
		<div class="col-xs-3 cell">
			<% if user.lender %>
				<div class="belt-icon <%= user.belt %>"></div>
			<% else %>
				N/A
			<% end %>
		</div>
	<% end %>
</div>