<div class="box col-sm-10 col-sm-offset-1">
	<!-- Overview -->
	<div class="row">
		<!-- Snapshot -->
		<div id="snapshot" class="col-sm-5">
			<% # user_img @user %>
			<%= render 'shared/options/options', 
						object: @user, 
						edit_path: edit_user_path(@user),
						report_path: report_user_path(@user) %>
			<%= render 'shared/belt', user: @user %>
		</div>

		<!-- Detail  -->
		<div id="detail" class="col-sm-7">
			<div class="row">
				<span class="title" style="text-transform:  none;"><%= @user.name %></span><br />
				<span id="location">
					<span class="glyphicon glyphicon-map-marker"></span> 
					<%= @user.city %>
				</span>
				<div id="join_info"> 
					<span class="glyphicon glyphicon-time"></span> 
					Joined <%= time_ago_in_words(@user.created_at) %></div>
				<div id="headline"><span class="glyphicon glyphicon-pushpin"></span> <%= @user.headline %></div>
				<div id="summary">
					<div class="detailTitle">
						<span class="glyphicon glyphicon-align-left"></span>
						<span>Summary</span>
					</div>
					<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
				</div>
			</div>

		</div>
	</div>
	<!-- Services Offered -->
	<div class="row service">
		<div class="row"><div class="sectionTitle">Services Offered</div></div>
		<% @services = Service.where(id: 1..3) %>
		<%= render @services %>
	</div>

	<%# render 'shared/reviews' %>

	<!-- Latest Servies tried -->
	<div class="row service">
		<div class="row"><div class="sectionTitle">Services Tried</div></div>
		<% @services = Service.where(id: 1..3) %>
		<%= render @services %>
	</div>
	
</div>