<div id="userShowBox" class="box col-sm-10 col-sm-offset-1">
	<!-- Overview -->
	<div class="row">
		<!-- SNAPSHOT -->
		<div id="snapshot" class="col-sm-5">
			<div class="imageContainer">
				<%= image_tag @user.main_img.url, class: 'mainImage' %>
				<!-- OPTIONS -->
				<%= render 'shared/options/options', object: @user, 
							edit_object_path: edit_user_path(@user),
							report_object_path: report_user_path(@user) %>
			</div>
			<!-- BELT -->
			<%= render 'shared/belt', user: @user %>
		</div>

		<!-- DETAIL  -->
		<div id="detail" class="col-sm-7">
			<div class="row">
				<span class="title" style="text-transform:  none;"><%= @user.name %></span><br />
				<% unless @user.city.empty? %>
					<span id="location">
						<span class="glyphicon glyphicon-map-marker"></span> 
						<%= @user.city %>
					</span>
				<% end %>
				<div id="join_info"> 
					<span class="glyphicon glyphicon-time"></span> 
					Joined <%= time_ago_in_words(@user.created_at) %></div>
				<% unless @user.headline.empty? %>
					<div id="headline">
						<span class="glyphicon glyphicon-pushpin"></span> <%= @user.headline %>
					</div>
				<% end %>
				<% unless @user.summary.empty? %>
					<div id="summary">
						<div class="detailTitle">
							<span class="glyphicon glyphicon-align-left"></span>
							<span>Summary</span>
						</div>
						<p><%= @user.summary %></p>
					</div>
				<% end %>
			</div>

		</div>
	</div>
	<% if @user.lender %>
		<!-- SERVICES OFFERED -->
		<div class="row service">
			<div class="serviceWidget row"><div class="sectionTitle">Services Offered</div></div>
			<% @services = Service.where(id: 1..3) %>
			<%= render @services %>
		</div>
		<!-- REVIEW -->
		<div id="reviewListTitle" class="sectionTitle">Reviews</div>
		<%= render 'reviews/review_list', reviews: @reviews %>
	<% end %>
	
	<!-- Latest Servies tried -->
	<div class="row service">
		<div class="serviceWidget row"><div class="sectionTitle">Services Tried</div></div>
		<% @services = Service.where(id: 1..3) %>
		<%= render @services %>
	</div>
</div>