<p>Dear <%= @user_service.lender.first_name %>,</p>
<p>Your Lendee <b><%= @user_service.lendee.first_name %></b> has confirmed <b>"<%= @user_service.service.title %>"</b> at <b><%= @user_service.date.strftime("%A, %B %e, %Y @ %l:%M %p") %></b>.</p>
<p>Please be sure to be there on time! If you need to contact or rescheudle, you can visit your <%= link_to checklist_user_url(@user_service.lender), checklist_user_url(@user_service.lender) %> anytime.</p>