<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p>Dear <%= @user_service.lendee.first_name %>,</p>

	<p>Your Lender <b><%= @user_service.lender.first_name %></b> has scheduled <b>"<%= @user_service.service.title %>"</b> at <b><%= @user_service.scheduled_date.strftime("%A %B %e, %Y @ %l:%M %p") %>.</b></p>

	<p> Please confirm the schedule date over at your <%= link_to 'Checklist', checklist_users_url %>.</p>
	
	<p>
		Best,<br />
		The Lendojo Staff
	</p>
</body>
</html>