<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<p>Dear <%= @user_status.lender.first_name %>,</p>

	<p>Congratualtions!!! You successfully completed "<%= @user_status.service.title %>" with <%= @user_status.lendee.first_name %>. You will be credted <b>$<%= @user_status.service.price %></b> within the new few hours or you can manually charge <%= @user_status.lendee.first_name %> over at your checklist: <%= link_to checklist_users_url %>.</p>

	<p>
		Best,<br />
		The Lendojo Staff
	</p>
</body>
</html>