<% s = Service.find(checklist_item.service_id) %>
<% u = User.find(checklist_item.lendee_id) %>

<tr class="check">
	<td class="options_checklist col-xs-2">
		<!-- REMOVE -->
		<%= render 'shared/options/uncheck', user_service_id: checklist_item.id, class_name: "uncheck glyphicon glyphicon-remove" %>
		
		<!-- CALL -->
		<span class="option call glyphicon glyphicon-earphone"></span>
		
		<!-- SCHEDULE -->
		<%=	form_for checklist_item, remote: true, html: { class: 'update_schedule_date_form' } do |f|  %>
			<%= f.hidden_field :status, value: 'scheduled_unconfirm' %>
			<%= f.hidden_field :scheduled_date %>
			<span class="option schedule glyphicon glyphicon-calendar"></span>
		<% end %>

		<% # If the time has passed, lender can start charging lendee %>
		<!-- CHARGE -->
		<%=	form_for checklist_item, remote: true, html: { class: 'update_charge_form' } do |f|  %>
			<%= f.hidden_field :status, value: 'finished' %>
			<%= f.hidden_field :amount, value: s.price %>
			<span class="option charge glyphicon glyphicon-usd"></span>
		<% end %>
	</td>
	<td class="status col-xs-2">
		<% case checklist_item.status %>
			<% when 'pending' %>
					<span>Pending
			<% when 'scheduled_unconfirm' %>
					<span>Waiting For Lendee's Confirmation
			<% when 'schedule_confirmed' %>
					<span>Confirmed
		<% end %>
		<br /> <small><%= checklist_item.request_time %></small></span>
	</td>
	<td class="schedule_date col-xs-2">
		<span><%= checklist_item.scheduled_date_text %></span>
	</td>
	<td class="serviceTitle col-xs-2">
		<%= link_to s.title, s %>
	</td>
	<td class="lendee col-xs-2">
		<%= u.name %>
	</td>
	<td class="price col-xs-2">
		$<%= s.price %>
	</td>
</tr>