<% @service 	= Service.find(checklist_item.service_id) %>
<% @user 		= User.find(checklist_item.lendee_id) %>
<tr class="check">
	<!-- OPTIONS -->
	<td class="options_checklist cell col-xs-1">
		<!-- REMOVE -->
		<%= render 'shared/options/uncheck', service: @service, glyphicon_name: "glyphicon-remove" %>
		
		<!-- CALL -->
		<span class="option call tooltip_target glyphicon glyphicon-earphone" data-toggle="tooltip" title="<%= checklist_item.lendee.phone %>"></span>
		
		<!-- SCHEDULE -->
		<% if checklist_item.pending? || checklist_item.schedule_unconfirm? %>
			<!-- DATE -->
			<%=	form_for checklist_item, remote: true, html: { class: 'update_schedule_date_form' } do |f|  %>
				<%= f.hidden_field :status, value: 'schedule_unconfirm' %>
				<%= f.hidden_field :date %>
				<span class="option schedule tooltip_target glyphicon glyphicon-calendar" data-toggle="tooltip" title="Schedule Date"></span>
			<% end %>
			<!-- PLACE -->
			<%=	form_for checklist_item, remote: true, html: { class: 'update_schedule_place_form' } do |f|  %>
				<%= f.hidden_field :status, value: 'schedule_unconfirm' %>
				<div class="location-dropdown btn-group">
					<span class="option schedule tooltip_target dropdown_target glyphicon glyphicon-map-marker" data-toggle="dropdown" title="Schedule Place"></span>
					<ul class="dropdown dropdown-menu">
						<li class="dropdown-header">Address</li>
						<li><%= f.text_field :address, value: checklist_item.address, class: 'form-control' %></li>
						<li class="dropdown-header">City</li>
						<li><%= f.text_field :city, value: checklist_item.city, class: 'form-control' %></li>
						<li>
							<%= f.label 'State', class: 'dropdown-location-label' %>
							<%= f.select :state, us_states_initials, class: 'form-control' %>
							<%= f.label 'Zip', class: 'dropdown-location-label' %>
							<%= f.text_field :zip, value: checklist_item.zip, class: 'form-control dropdown-zip-input' %>
						</li>
					</ul>
				</div>
			<% end %>
		<% end %>

		<!-- CHARGE -->
		<% # If the time has passed three hours from now, lender can start charging lendee %>
		<% if (!checklist_item.date.nil?) && checklist_item.schedule_confirmed? && (3.hours.from_now < checklist_item.date) %>
			<%=	form_for checklist_item, remote: true, html: { class: 'update_charge_form' } do |f|  %>
				<%= f.hidden_field :status, value: 'finished' %>
				<%= f.hidden_field :amount, value: s.price %>
				<span class="option charge tooltip_target glyphicon glyphicon-usd" data-toggle="tooltip" title="Charge <%= checklist_item.lendee.first_name %>" style="margin: 0;"></span>
			<% end %>
		<% end %>
	</td>
	<!-- STATUS -->
	<td class="status cell col-xs-2">
		<% if checklist_item.pending? %>
			<span>Pending
		<% elsif checklist_item.schedule_unconfirm? %>
			<span>Waiting For Lendee's Confirmation
		<% elsif checklist_item.schedule_confirmed? %>
			<span>Confirmed
		<% elsif checklist_item.complete? %>
			<span>Confirmed
		<% end %>
		<br /> <small><%= checklist_item.request_time %></small></span>
	</td>
	<!-- TITLE / LENDEE NAME -->
	<td class="serviceTitle cell col-xs-3">
		<%= link_to @service.title, @service, target: "_blank" %> <br />
		<small>Lendee: <%= link_to @user.name, @user, target: "_blank" %></small> <br />
	</td>
	<!-- DATE -->
	<td class="schedule_date cell col-xs-2">
		<span><%= checklist_item.scheduled_date_text %></span>
	</td>
	<!-- PLACE -->
	<td class="schedule_place cell col-xs-2">
		<span><%= checklist_item.scheduled_place_text %></span>
	</td>
	<!-- PRICE -->
	<td class="price cell col-xs-1">
		$<%= @service.price %>
	</td>
</tr>