<% s = Service.find(checklist_item.service_id) %>
<tr class="check">
	<!-- OPTIONS -->
	<td class="options_checklist cell col-xs-1">
		<% unless checklist_item.status == 'complete' %>
			<!--  REMOVE -->
			<%= render 'shared/options/uncheck', service: s, glyphicon_name: "glyphicon-remove" %>
		<% end %>
		<% # Depending on checklist_item status, have different options presented to lendee %>
			<% if checklist_item.schedule_unconfirm? %>
				<!-- CONFIRM -->
				<%=	form_for checklist_item, remote: true, html: { class: 'update_confirmation_form' } do |f|  %>
					<%= f.hidden_field :status, value: 'schedule_confirmed' %>
					<span class="option tooltip_target confirm glyphicon glyphicon-ok" data-toggle="tooltip" title="Confirm" ></span>
				<% end %>
			<% elsif checklist_item.schedule_confirmed? %>
				<% # Schedule_confirmed: lendee can call lender %>
				<span class="option call tooltip glyphicon glyphicon-earphone" data-toggle="tooltip" title="<%= checklist_item.lender.phone %>"></span>
			<% elsif checklist_item.complete? %>
				<% # Complete, lendee can rate lender  ONLY IF user has not rated lende before %>
				<% unless current_user.given_rating_to?(checklist_item.lender) %>
					<%= link_to new_rating_user_path(checklist_item.lender) do %>
						<span class="rate tooltip_target glyphicon glyphicon-star" data-toggle="tooltip" title="Rate"></span>
					<% end %>
				<% end %>
			<% end %>
	</td>
	<!-- STATUS -->
	<td class="status cell col-xs-2">
		<% # Display differnt HTML base on checkList_item status %>
		<% if checklist_item.pending? %>
				<span>Pending 
		<% elsif checklist_item.schedule_unconfirm? %>
				<span>Please Confirm
		<% elsif checklist_item.schedule_confirmed? %>
				<span>Confirmed
		<% elsif checklist_item.complete? %>
				<span>Complete
		<% end %>
		<br /> <small><%= checklist_item.request_time %></small></span>
	</td>
	<!-- SERVICE TITLE/ LENDER NAME -->
	<td class="serviceTitle cell col-xs-3">
		<%= link_to s.title %><br />
		<small>Lender: <%= link_to s.lender.name, s.lender %></small>
	</td>
	<!-- DATE -->
	<td class="schedule_date cell col-xs-2">
		<span><%= checklist_item.scheduled_date_text %></span>
	</td>	
	<!-- PLACE -->
	<td class="schedule_place cell col-xs-2">
		<span><%= checklist_item.scheduled_place_text %></span>
	</td>
	<!-- PRICE -->
	<td class="price cell col-xs-1">
		$<%= s.price %>
	</td>
</tr>