<% s = Service.find(checklist_item.service_id) %>
<tr class="check">
	<!-- OPTIONS -->
	<td class="options_checklist col-xs-2">
		<% unless checklist_item.status == 'complete' %>
			<!--  REMOVE -->
			<%= render 'shared/options/uncheck', user_service_id: checklist_item.id, class_name: "uncheck glyphicon glyphicon-remove" %>
		<% end %>
		<% # Depending on checklist_item status, have different options presented to lendee %>
		<% case checklist_item.status %>
			<% when 'pending' %>
					<% # Pending: lendee needs to wait for a call from lender %>
			<% when 'schedule_unconfirm' %>
					<% # Schedule_unconfirm: lendee needs to confirm %>
					<!-- CONFIRM -->
					<%=	form_for checklist_item, remote: true, html: { class: 'update_confirmation_form' } do |f|  %>
						<%= f.hidden_field :status, value: 'schedule_confirmed' %>
						<span class="option tooltip_target confirm glyphicon glyphicon-ok" data-toggle="tooltip" title="Confirm" ></span>
					<% end %>
			<% when 'schedule_confirmed' %>
				<% # Schedule_confirmed: lendee can call lender %>
				<span class="option call tooltip glyphicon glyphicon-earphone" data-toggle="tooltip" title="<%= checklist_item.lender.phone %>"></span>
			<% when 'complete' %>
				<% # Complete, lendee can rate lender  ONLY IF user has not rated lende before %>
				<% unless current_user.given_rating_to?(checklist_item.lender) %>
					<%= link_to new_rating_user_path(checklist_item.lender) do %>
						<span class="rate tooltip_target glyphicon glyphicon-star" data-toggle="tooltip" title="Rate"></span>
					<% end %>
				<% end %>
		<% end %>
	</td>
	<!-- STATUS -->
	<td class="status col-xs-2">
		<% # Display differnt HTML base on checkList_item status %>
		<% case checklist_item.status %>
			<% when 'pending' %>
					<span>Pending 
			<% when 'schedule_unconfirm' %>
					<span>Please Confirm
			<% when 'schedule_confirmed' %>
					<span>Confirmed
			<% when 'complete' %>
					<span>Complete
		<% end %>
		<br /> <small><%= checklist_item.request_time %></small></span>
	</td>
	<!-- DATE -->
	<td class="schedule_date col-xs-2">
		<span><%= checklist_item.scheduled_date_text %></span>
	</td>
	<!-- SERVICE TITLE/ LENDER NAME -->
	<td class="serviceTitle col-xs-4">
		<%= link_to s.title %><br />
		<small>Lender: <%= link_to s.lender.name, s.lender %></small>
		<small>Place <%= checklist_item.scheduled_place_text %></small>
	</td>
	<!-- PRICE -->
	<td class="price col-xs-1">
		$<%= s.price %>
	</td>
</tr>