<div class="review-list-item row">
	<!-- USER AVATAR -->
	<div class="col-sm-2">
		<%= link_to review.author do %>
			<%= image_tag review.author.main_img(:thumb), class: 'thumbImage' %>
		<% end %>
	</div>
	<!--  REVIEW DETAILS -->
	<div class="review-details col-sm-10">
		<h4><%= review.title %> <small>| <%= review.created_at.strftime("%B %e, %Y") %></small><br /> 
			<small>By <%= link_to review.author.name, review.author %></small>
		</h4>
		<div class="raty" data-stars="<%= review.stars %>"></div>
		<div class="vote-blurb">
			<%= "#{review.reputation_for(:up_votes).to_i} out of #{review.reputation_for(:total_votes).to_i} found this review helpful" %>
		</div>
		<div class="summary">
			<%= review.summary %>
		</div>
		<% unless review.has_evaluation?(:total_votes, current_user) %>
			<div class="vote">
				<span class="">Was this review helpful? </span>
				<%= link_to 'Yes', vote_review_path(review, type: 'up'), method: 'post', class: 'vote-yes' %> | 
				<%= link_to 'No', vote_review_path(review, type: 'down'), method: 'post', class: 'vote-no' %>
			</div>
		<% end %>
	</div>
</div>
