<div class="box col-xs-8 col-xs-offset-2">
	<div class="title">Report Debrief</div>
	<%= form_for @report, html: {id: 'editReport', class: 'form-horizontal'} do |f| %>
		<div class="form-group">
			<%= f.label 'Target', class: 'control-label col-sm-2' %>
			<div class="detail col-sm-9"><%= link_to @reportable.report_title, @reportable %></div>
		</div>
		<div class="form-group">
			<%= f.label 'Type', class: 'control-label col-sm-2' %>
			<div class="detail col-sm-9"><%= @report.reportable_type %></div>
		</div>
		<div class="form-group">
			<%= f.label 'Reason', class: 'control-label col-sm-2' %>
			<div class="detail col-sm-9"><%= @report.reason %></div>
		</div>
		<div class="form-group">
			<%= f.label 'Summary', class: 'control-label col-sm-2' %>
			<div class="detail col-sm-9" style="border: none;"><%= @report.summary %></div>
		</div>
		<div class="form-group">	
		 	<%= f.label 'Status', class: 'control-label col-sm-2' %>
			<div class="col-sm-9">
				<%= f.select :status, options_for_select([ ["pending", 'Pending'], ["active", 'Active'], ["resolved", 'Resolved']]), {} , {class: 'form-control'} %>
			</div>
		</div>
		<div class="form-group">
		 	<%= f.label 'Staff Notes', class: 'control-label col-sm-2' %>
			<div class="col-sm-9"><%= f.text_area :staff_notes, value: @report.staff_notes, placeholder: "Write Notes About The Report Here...", class: 'form-control' %></div>
		</div>
		
		<div class="form-group">
			<%= f.submit 'Update', class: 'button center' %>
		</div>
	<% end %>
</div>