<footer class="container">
	<ul id="footerNav">
		<%= link_to 'How It Works', main_app.how_it_works_path, class: 'footer-link', style: 'padding-right: 10px; width: 120px;' %>
		<%= link_to 'Contact', main_app.contact_path, class: 'footer-link' %>
		<%= link_to 'FAQs', main_app.faqs_path, class: 'footer-link' %>
		<%= link_to 'Guidelines', main_app.guidelines_path, class: 'footer-link' %>
		<%= link_to 'Privacy', main_app.privacy_path, class: 'footer-link' %>
	</ul>
	<div class="copyright">&copy; <%= Time.now.year %> Lendojo. All Rights Reserved</div>
</footer>